.dialog {
    padding: 0;
    border: 0;
    overflow: hidden;
}

dialog.dialog:focus-visible {
    outline: 0;
}

.dialog-container {
    width: var(--dialog-width);
}

.dialog-container.skeleton-loading {
    height: 554px;
}


.dialog:modal {
    animation: fadeInUp 0.3s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.dialog-header {
    height: 36px;
    line-height: 36px;
    text-align: center;
    box-shadow: 0 0 3px 0px var(--color-gray-0);
    position: relative;
}

.dialog-close {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 3px;
    top: 0;
    line-height: 24px;
    color: var(--color-gray-0);
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.dialog-close:hover {
    color: var(--color-red-0);
}