:root {
    /* edit */
    --edit-height: 32px;
    --edit-width: 380px;
}

/* header edit box */
.ani-header-edit-box {
    --header-edit-icon-width: 20px;
    --header-edit-width: var(--header-edit-icon-width);
    --header-edit-text-width: 58px;
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    top: var(--main-gap);
    right: calc(50% - var(--edit-width)/2);
    height: var(--edit-height);
    line-height: var(--edit-height);
    width: var(--header-edit-width);
    overflow: hidden;
    transition: all var(--transition-delay);
}

.ani-main.edit-mode .ani-header {
    padding-top: calc(var(--main-gap) * 2 + var(--edit-height));
}

.ani-main.edit-mode .ani-header:not(.searching) .season-search-box {
    top: calc(var(--main-gap) + var(--edit-height) + var(--search-height) - var(--season-year-height));
}

.ani-main.edit-mode .ani-header.searching .season-search-box {
    top: calc(var(--main-gap)*2 + var(--edit-height));
}

.ani-main.edit-mode div.ani-header.searching {
    padding-top: calc(var(--main-gap) * 3 + var(--edit-height) + var(--search-height));
}

.ani-main:not(.edit-mode) .ani-header.searching .ani-header-edit-box {
    top: calc(var(--main-gap) + var(--edit-height) + var(--search-height) - var(--season-year-height));
}

.ani-main.edit-mode .ani-header-edit-box {
    --header-edit-width: var(--edit-width);
}

.ani-main.edit-mode .ani-header-edit-box .ani-header-edit-icon,
.ani-main:not(.edit-mode) .ani-header-edit-box:hover,
.ani-main:not(.edit-mode) .ani-header-edit-box:hover .ani-header-edit-icon {
    width: calc(var(--header-edit-icon-width) + var(--header-edit-text-width));
}

.ani-main.edit-mode .ani-header-edit-box .ani-header-edit-icon,
.ani-main:not(.edit-mode) .ani-header-edit-box:hover .ani-header-edit-icon {
    background-color: var(--color-blue-0);
    border-radius: 4px;
    color: var(--color-white-0);
}

.ani-main.edit-mode .ani-header-edit-box .ani-header-edit-icon:hover {
    background-color: var(--color-red-0);
    color: var(--color-white-0);
}

.ani-header-edit-box .ani-header-edit-icon {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    transition: all var(--transition-delay);
    position: relative;
    width: var(--header-edit-icon-width);
    overflow: hidden;
}

.ani-header-edit-box .ani-header-edit-icon i::before {
    width: var(--header-edit-icon-width);
    height: var(--edit-height);
    line-height: var(--edit-height);
    text-align: center;
    margin: 0;
}

.ani-header-edit-box .ani-header-edit-icon span {
    display: block;
    position: absolute;
    width: var(--header-edit-text-width);
    top: 0;
    right: var(--header-edit-icon-width);
    text-align: right;
    font-size: var(--font-size-small);
}

.ani-header-edit-tools {
    position: absolute;
    right: calc(var(--header-edit-icon-width) + var(--header-edit-text-width));
    display: flex;
    justify-content: center;
    gap: 10px;
    width: calc(var(--edit-width) - var(--header-edit-icon-width) - var(--header-edit-text-width));
    height: var(--edit-height);
    line-height: var(--edit-height);
}

.ani-header-edit-tools button {
    height: var(--edit-height);
    line-height: calc(var(--edit-height) - 2px);
}

/* item check box */
.ani-item {
    position: relative;
}

.ani-item.checked {
    box-shadow: 0 0 2px 1px var(--color-blue-0);
}

.ani-item-check-box {
    display: none;
    position: absolute;
    right: 0;
    bottom: 2px;
}

.ani-main.edit-mode .ani-item-check-box {
    --checkbox-size: 20px;
    display: block;
}

.ani-item-check-box i,
.ani-item-check-box i:before {
    display: block;
    height: var(--checkbox-size);
    line-height: var(--checkbox-size);
    width: var(--checkbox-size);
    text-align: center;
    margin: 0;
}

.ani-item:not(.checked):hover .ani-item-check-box,
.ani-item.checked .ani-item-check-box {
    color: var(--color-blue-0);
}

/* item edit box */
.ani-item-edit-box {
    display: none;
    height: var(--item-edit-height);
}

.ani-main.edit-mode .ani-item-edit-box {
    display: flex;
    gap: 5px;
}

.ani-main.edit-mode .ani-item-title {
    --item-edit-height: 26px;
    height: calc(var(--item-title-height) * 2 + var(--item-edit-height));
}