:root {
    /* edit */
    --edit-box-height: 32px;
    --edit-box-width: 398px;
}

/* item check box */
.ani-item {
    position: relative;
    transition: var(--transition-delay);
}

.ani-main.edit-mode .ani-item:not(.checked):hover {
    box-shadow: 0 0 3px 2px var(--color-gray-0);
}

.ani-item.checked {
    box-shadow: 0 0 4px 2px var(--color-blue-0);
}

.ani-main.edit-mode .ani-item-title:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-blue-0);
}

.ani-item-check-box {
    display: none;
    position: absolute;
    right: 0;
    bottom: 22px;
}

.ani-main.edit-mode .ani-item-check-box {
    --checkbox-size: 20px;
    display: block;
}

.ani-item-check-box i,
.ani-item-check-box i:before {
    display: block;
    height: var(--checkbox-size);
    line-height: var(--checkbox-size);
    width: var(--checkbox-size);
    text-align: center;
    margin: 0;
}

.ani-item:not(.checked):hover .ani-item-check-box,
.ani-item.checked .ani-item-check-box {
    color: var(--color-blue-0);
}

/* item episode */
.ani-main .ani-item-episode {
    display: flex;
    overflow: hidden;
    transition: var(--transition-delay);
}

/* item edit box */
.ani-item-edit-box {
    display: flex;
    width: var(--item-title-width);
    height: 0;
    line-height: var(--item-title-height);
    overflow: hidden;
    transition: var(--transition-delay);
}

.ani-main.edit-mode .ani-item-edit-box {
    height: var(--item-title-height);
}

.ani-item div.ani-item-fin {
    --switch-box-height: 20px;
    --switch-font-size: var(--font-size-mini);
    border-radius: 10px;
    display: flex;
    transition: all var(--transition-delay);
}

.ani-item div.ani-item-fin:hover span.core {
    text-decoration: underline;
}

.ani-item-edit-box>span {
    height: var(--item-title-height);
    line-height: var(--item-title-height);
    font-size: var(--font-size-mini);
    padding: 0;
    border: none;
    background: none;
}