@import './animation.css';

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?66269630');
  src: url('../font/fontello.eot?66269630#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?66269630') format('woff2'),
       url('../font/fontello.woff?66269630') format('woff'),
       url('../font/fontello.ttf?66269630') format('truetype'),
       url('../font/fontello.svg?66269630#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?74045576#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  /* margin-right: .2em; */
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-right-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-msg-error:before { content: '\e804'; } /* '' */
.icon-msg-inf:before { content: '\e805'; } /* '' */
.icon-msg-warning:before { content: '\e806'; } /* '' */
.icon-msg-success:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-edit:before { content: '\e809'; } /* '' */
.icon-feedback:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e80b'; } /* '' */
.icon-trash-empty:before { content: '\e80c'; } /* '' */
.icon-refresh-square:before { content: '\e80d'; } /* '' */
.icon-eye:before { content: '\e80e'; } /* '' */
.icon-eye-off:before { content: '\e80f'; } /* '' */
.icon-check:before { content: '\e810'; } /* '' */
.icon-resize-full:before { content: '\e811'; } /* '' */
.icon-resize-small:before { content: '\e812'; } /* '' */
.icon-feather:before { content: '\e813'; } /* '' */
.icon-pin-outline:before { content: '\e814'; } /* '' */
.icon-pin:before { content: '\e815'; } /* '' */
.icon-close-outline:before { content: '\e816'; } /* '' */
.icon-minus-outline:before { content: '\e817'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-loading:before { content: '\f110'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-plus-squared:before { content: '\f196'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-switch-off:before { content: '\f204'; } /* '' */
.icon-switch-on:before { content: '\f205'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-window-close-o:before { content: '\f2d4'; } /* '' */
